# MLX90393 IMU configuration options

menuconfig MLX90393
	bool "Enable support for MLX90393 3-axis magnetometer + temperature sensor"
	# This doesnt work
	# depends on (I2C && HAS_DTS_I2C)
	# But this does
	depends on (I2C)
	# select SENSOR_COMMON
	help
		Enable I2C-based driver for MLX90393 3-axis IMU magnetometer

if MLX90393

config MLX90393_INTERRUPT
	bool "Enable or disable interrupt-based mode"
	default false
	depends on (MLX90393)
	help
		Enables the use of the INT-pin on the MLX90393, also in code

	# Add log level for mlx90393 code
	module = MLX90393
	module-str = mlx90393
	source "subsys/logging/Kconfig.template.log_config"

endif