/*
 * Copyright (c) 2022, Stefano Cottafavi <stefano.cottafavi@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {

};

&i2c1 {
	mlx90393@12 {
		compatible = "melexis,mlx90393";
		reg = <0x12>;
		status = "okay";
		//interrupt-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH)>;
	};
};
