/*
 * Copyright (c) 2022, Stefano Cottafavi <stefano.cottafavi@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {

};

&spi2 {

	cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;

	mlx90393@0 {
		reg = <0x0>;
		compatible = "melexis,mlx90393";
		spi-max-frequency = <2000000>;
		status = "okay";
		
		//interrupt-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH)>;

	};
};
